<%= form_with(model: patient, class: "contents") do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul class="list-disc ml-6">
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:name].none?, "border-red-400 focus:outline-red-600": patient.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :age %>
    <%= form.number_field :age, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:age].none?, "border-red-400 focus:outline-red-600": patient.errors[:age].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :disease %>
    <%= form.text_field :disease, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": patient.errors[:disease].none?, "border-red-400 focus:outline-red-600": patient.errors[:disease].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
